.about-page-layout {
  width: 100%;
  height: 100%;
}
.about-page-container {
  height: 1200px;
  display: flex;
  flex-direction: row;
  margin: 20% 20%;
  margin-top: 10px;
}
.about-page-container img {
  height: 100%;
  width: 700px;
  margin-right: 120px;
}
.about-page-img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 1433px;
  margin-top: 20px;
}
.about-page-info {
  width: 50%;
}
.about-page-info p {
  width: 60%;
}
.about-page-layout h1 {
  justify-content: center;
}
.about-page-layout-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
