.blog-home {
  display: flex;
}
.blog-posts {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.blog-posts {
  display: flex;
}
.blog-img {
  flex: 1;
  width: 20px;
}
.blog-content {
  flex: 2;
}
