.add {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  padding: 20px;
}

.add .write-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.write-content input {
  padding: 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.write-editor-container {
  height: 350px;
  overflow: auto;
}

.write-editor {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.add .write-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.write-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.write-item h1 {
  font-size: 24px;
  font-weight: bold;
  color: #444;
}

.write-file {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}

.write-buttons button {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.write-buttons .write-button-1 {
  background-color: #6c757d;
  color: white;
  border: 1px solid #6c757d;
  transition: background-color 0.3s ease;
}

.write-buttons .write-button-1:hover {
  background-color: #5a6268;
}

.write-buttons .write-button-2 {
  background-color: #f03e3e;
  color: white;
  border: 1px solid #f03e3e;
  transition: background-color 0.3s ease;
}

.write-buttons .write-button-2:hover {
  background-color: #c92a2a;
}

.write-cat {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #007bff;
}

.write-cat input {
  margin-right: 10px;
  cursor: pointer;
}

.write-menu h1 {
  font-size: 18px;
  color: #555;
}
.write-item span {
  color: black; /* Change text color to black */
}
