/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.NavBar {
  padding: 10px;
  display: flex;
  justify-content: center; /* Centers the nav items horizontally */
  background-color: #333; /* Change as needed */
  color: white; /* Adjust text color */
  width: 100%;
  margin-bottom: 100px;
}

.menu {
  display: flex; /* Flexbox layout for list items */
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 15px; /* Adds spacing between the nav items */
}

.menu a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits the color from parent (theme.foreground) */
  padding: 5px 10px; /* Adds padding inside each link */
}

.menu a:hover {
  background-color: #444; /* Add a hover effect */
}
.HomePage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  position: relative; /* Make the parent container relative for absolute positioning */
}

.SelfImage {
  max-width: 75%;
  max-height: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.TextBox {
  position: absolute; /* Position it on top of the image */
  top: 70%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to truly center the text box */
  width: 25%;
  background-color: rgba(255, 255, 255); /* Semi-transparent background */
  padding: 20px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333; /* Text color */
  pointer-events: none; /* Prevent interaction with the text box */
}

.TextBox:hover {
  pointer-events: auto; /* Allow interaction on hover */
}
.Footer {
  display: flex;
  flex-direction: column;
}
.Footer p {
  display: flex;
  justify-content: center;
}
.Footer a {
  color: inherit; /* Inherit the color from the parent container */
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px; /* Space between icons */
}

.Footer a:hover,
.Footer a:focus,
.Footer a:active {
  color: inherit; /* Keep color the same on hover, focus, or active state */
}

.Footer svg {
  font-size: 2rem; /* Adjust the icon size */
  transition: none; /* Prevent any transition effect */
}
.Links {
  display: flex;
  justify-content: space-evenly;
}
